<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Roboto:wght@300;400;900&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_show.css" />
    
    <title>
        <%=oil.name %>
    </title>
</head>
<div class="top-container">
    <nav>
        <ul>
            <li><a href="/oils">Home</a></li>
            <li><a href=""></a>About</li>
            <li><a href=""></a>Recipes</li>
            <li><a href="https://github.com/EHollingerFllStk">Contact</a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
</div>

<body>
    <div class="middle-container" id="oil">
        <h1>
            <%=oil.name %> </br>
        
            <img src="<%=oil.img%>"> 
        </h1>
    
    </div>
    <div class="content-row">
        <h3>Description</h3>
        <p style="font-size: 18px;"> <%= oil.description %> 
        </p>
        <br />
        <h3>Uses</h3>
        <p style="font-size: 18px;">
            <%= oil.use %>
        </p>
        <br />
    
        <section id="section">
            <form action="/oils/<%= oil._id %>?_method=DELETE" method="POST">
                <input class="btn" type="submit" value="DELETE" />
            </form> 
        </section>
        <section id="section">
            <a href="/oils/<%=oil._id %>/edit"><button class="btn" type="button">EDIT</button></a>
        </section>
    </div>
    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/elizabeth-hollinger-dpt-31683b128/">LinkedIn</a>
        <a class="footer-link" href="https://github.com/EHollingerFllStk">GitHub</a>
        <a class="footer-link" href="https://www.ncbi.nlm.nih.gov">Evidence-based Content</a>
        <p class="copyright">©2022 Elizabeth Hollinger</p>
      </div>
    </body>

</body>

</html>