<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_show.css" />
    <title>
        <%=oil.name %>
    </title>
</head>

<body>
    <nav>
        <a href="/oils">Home</a>
    </nav>

    
    <h1>
        <%=oil.name %>
    </h1>
    <img src="<%=oil.img%>"> <br />
    Description:<p>
        <%= oil.description %>
    </p>
    <br />
    Uses:<p>
        <%= oil.use %>
    </p>
    <br />

    <section>
        <form action="/oils/<%= oil._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" /> 
        </form> 
    </section>
    <section>
        <a href="/oils/<%=oil._id %>/edit">Edit</a>
    </section>

</body>

</html>