<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/style_edit.css" />
        
        <title>Essential Oils</title>
        <%- include('../partials/nav.ejs') %>
    </head>
<body>
    <div class="middle-container" id="oil">
        <h1>
            Edit Essential Oil  
        </h1>
       <br />
    </div>
    <div class="content-row">
        <form action="/oils/<%=oil._id%>?_method=PUT" method="POST">
            Name of Oil <input type="text" name="name" value="<%=oil.name%>" /><br />
            Image <input type="text" name="img" value="<%=oil.img%>" /> <br />
            Description <input type="text" name="description" value="<%=oil.description%>" /><br />
            Use <input type="text" name="use" value="<%=oil.use%>" /><br />
        <input class="btn" type="submit" name="" value="Update Essential Oil" />
        </form>
    </div>
    <%- include('../partials/footer.ejs')%>
    <body>

</html>