<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    
    <link rel="stylesheet" href="/css/style_index.css" />

    <title>Essential Oils</title>
</head>

<%- include('../partials/nav.ejs') %>



        <div class="middle-container">
            <h1>Find Healing With Essential Oils</h1>
            
            <p>Calmness is the cradle of power <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Josiah Gilbert Holland</p>
        </div>

        <div class="content-row">

            <ul>
                <li style="text-decoration: bold; font-size: larger;">Essential Oils</li>
                <% oils.forEach(oil=> { %>
                    <li>
                        <a href="/oils/<%=oil._id; %>">
                            <%=oil.name; %>
                        </a>

                    </li>
                    <% }) %>
            </ul>
        </div>

    </header>
    <div class="new">
        <a class="btn" href="/oils/new">Add a New Essential Oil</a>
        <a class="btn" href="/recipes">See Recipes</a>
    </div>
    
    <%- include('../partials/footer.ejs')%>
</body>


</html>