<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/style_edit.css" />
        
        <title>Essential Oils</title>
        <%- include('../partials/nav.ejs') %>
    </head>
<body>
    <div class="middle-container" id="oil">
        <h1>
            Edit Recipe  
        </h1>
       <br />
    </div>
    <div class="content-row">
        <form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST">
            Recipe <input type="text" name="name" value="<%=recipe.name%>" /><br />
            Ingredients <input type="text" name="ingredients" value="<%=recipe.ingredients%>" /><br />
            Uses <input type="text" name="use" value="<%=recipe.use%>" /><br />
        <input class="btn" type="submit" name="" value="Update Recipe" />
        </form>
    </div>
    
 <%- include('../partials/footer.ejs')%>
    <body>

</html>