<!DOCTYPE html>
<html>

    <%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/css/style_index.css" />

    <title>Essential Oil Recipes</title>
</head>
    <%- include('../partials/nav.ejs') %>

        <div class="middle-container">
            <h1>Find Recipes</h1>
            
            <p>Take Time to Make Your Soul Happy <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Anon</p>
        </div>

        <div class="content-row">

            <main>
                <h2>List of Recipes</h2>
                <ul>
                    <% for(let i = 0; i < recipes.length; i++){ %>
                    <li>
                        <a href="/recipes/<%=recipes[i]._id%>"><%= recipes[i].name %></a>
                    </li>
                    <% } %>
                </ul>
                
            </main>
        </div>

    </header>
    <div class="new">
        <a class="btn" href="/recipes/new">Add New Recipe</a>
        <a class="btn" href="/oils">Home</a>
    </div>
    
    <%- include('../partials/footer.ejs')%>
</body>


</html>