<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/style_show.css" />
    
    <title>
        <%=recipe.name %>
    </title>
</head>
<%- include('../partials/nav.ejs') %>

<body>
    <div class="middle-container" id="oil">
        <h1>
            <%=recipe.name %> </br>
        
             
        </h1>
    
    </div>
    <div class="content-row">
        <h3>Description</h3>
        <p style="font-size: 18px;"> <%= recipe.ingredients %> 
        </p>
        <br />
        <h3>Uses</h3>
        <p style="font-size: 18px;">
            <%= recipe.use %>
        </p>
        <br />
    
        <section id="section">
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                <input class="btn" type="submit" value="DELETE" />
            </form> 
        </section>
        <section id="section">
            <a href="/recipes/<%=recipe._id %>/edit"><button class="btn" type="button">EDIT</button></a>
        </section>
    </div>
    <%- include('../partials/footer.ejs')%>
    </body>

</body>

</html>